{:expense-sheet-clojure.db/db
 {:jdbc-url #profile {:default "jdbc:sqlite:db/expense-sheet-clojure.sqlite"
                      :test "jdbc:sqlite::memory:"}}

 :expense-sheet-clojure.server/server
 {:options {:port #profile {:default 8000
                            :prod 80
                            :test #free-port true}
            :session-secret-key #profile {:default "test-secret-key"
                                          :prod #env SESSION_SECRET_KEY}
            :auto-reload? #profile {:default false
                                    :dev true}
            :cache-assets? #profile {:default false
                                     :prod true}}
  :db #ig/ref :expense-sheet-clojure.db/db}}
